.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
}

/* Розміри кнопок */
.small {
  width: 156px;
  height: 44px;
}

.large {
  width: 276px;
  height: 44px;
}

/* Кольори кнопок */
.transparent {
  background-color: transparent;
  border: 1px solid var(--button);
  color: var(--main);
}

.transparent:hover {
  border: 1px solid var(--button-hover);
}

.blue {
  background-color: var(--button);
  color: var(--white);
}

.blue:hover {
  background-color: var(--button-hover);
}


/* .button:hover {
  opacity: 0.9;
} */