.page {
  padding: 5.25rem 7.5rem 10.875rem 7.5rem;
  max-width: 90rem;
  background: var(--white);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.empty {
  text-align: center;
  color: var(--gray);
  font-size: 1.25rem;
}