.list {
  margin-top: 3.5rem;
  margin-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  /* 4 стовпці для великих екранів */
  gap: 3rem 2rem;
}

/* Мобільні пристрої */
@media (max-width: 599px) {
  .grid {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    /* 1 стовпець */
  }
}

/* Портативні пристрої */
@media (min-width: 600px) and (max-width: 899px) {
  .grid {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    /* 2 стовпці */
  }
}

/* Планшетні екрани */
@media (min-width: 900px) and (max-width: 1199px) {
  .grid {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    /* 3 стовпці */
  }
}

/* Великі екрани */
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    /* 4 стовпці */
  }
}

.empty {
  text-align: center;
  color: var(--gray);
  font-size: 1.25rem;
}

.loadMore {
  display: block;
  margin: 2rem auto;
  padding: 0.75rem 2rem;
  background: var(--white);
  border: 1px solid var(--button);
  color: var(--button);
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.loadMore:hover {
  background: var(--button);
  color: var(--white);
}