.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7.5rem;
  background: var(--badges);
  border-bottom: 1px solid var(--badges);
  max-width: 90rem;
}

.logo {
  color: var(--button);
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 2rem;
}

.link {
  color: var(--main);
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  color: var(--button);
}